In [25]:
import pandas as pd

df = pd.read_csv("./data/budget.csv", parse_dates=["Date"])

In [ ]:
## Display data
df

## Display 3 random data rows
df.sample(3)

## Display first 3 rows
df.head(3)

## Display last 3 rows
df.tail(3)

In [ ]:
## Display unique names
df["Name"].unique()

In [ ]:
## Filter data by value
df[df["Category"] == "Rachunki"]

## Filter data by value and take 5 rows
df[df["Category"] == "Rachunki"].head(5)

In [ ]:
## Filter data by two values in category e.g 'Mieszkanie' or 'Rachunki'
# df['Category'].unique()

df[(df["Category"] == "Mieszkanie") | (df["Category"] == "Rachunki")]

In [ ]:
## Filter data by two values in category and name e.g 'Uroda' or 'Adele'
# df["Category"].unique()

df[(df["Category"] == "Uroda") & (df["Name"] == "Adele")]

In [30]:
## Sort desc filtered values and take 5 rows
df[df["Category"] == "Rachunki"].sort_values("Amount", ascending=False).head(5)

        Kind       Date  Name               Description  Category  Amount
148  Wydatek 2022-05-07  John  Podatek od nieruchomości  Rachunki   500.0
106  Wydatek 2022-04-07  John  Podatek od nieruchomości  Rachunki   500.0
30   Wydatek 2022-01-07  John  Podatek od nieruchomości  Rachunki   500.0
69   Wydatek 2022-02-07  John  Podatek od nieruchomości  Rachunki   500.0
146  Wydatek 2022-05-05   Sam            Opłata za prąd  Rachunki   100.0

In [35]:
## Add new column with balance
df["Balance"] = df.apply(lambda row: row["Amount"] if row["Kind"] == "Przychód" else row["Amount"] * -1, axis=1)

## Display data
df

## Dispaly sum
df["Balance"].sum()

42111.0

In [39]:
## Use groupby on Date filed to display sum per year and months
df.groupby([pd.Grouper(key="Date", freq="Y"), pd.Grouper(key="Date", freq="M")])["Balance"].sum()

Date        Date
2022-12-31  2022-01-31     2120.0
            2022-02-28    -5880.0
            2022-04-30     -880.0
            2022-05-31     -110.0
2023-12-31  2023-01-31    13199.0
            2023-02-28     6199.0
            2023-03-31     6284.0
            2023-04-30     6894.5
            2023-05-31     6684.5
            2023-06-30     7600.0
Name: Balance, dtype: float64

In [44]:
## Use groupby on new extracted fields Year and Month
df["Year"] = df["Date"].dt.strftime("%Y")
df["Month"] = df["Date"].dt.strftime("%m")
df.groupby(["Year", "Month"])["Balance"].sum()

Year  Month
2022  01        2120.0
      02       -5880.0
      04        -880.0
      05        -110.0
2023  01       13199.0
      02        6199.0
      03        6284.0
      04        6894.5
      05        6684.5
      06        7600.0
Name: Balance, dtype: float64